name: "Release"

on:
  push:
    branches: [ "release" ]

jobs:
  pre-release:
    name: "Release"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 20
        uses: actions/setup-java@v3
        with:
          java-version: '20'
          distribution: 'temurin'
          cache: maven

      - uses: 8BitJonny/gh-get-current-pr@2.2.0
        id: PR
        with:
          github-token: ${{ secrets.RELEASE_TOKEN }}

      - name: Build with Maven
        run: xvfb-run mvn -B compile --file pom.xml

      - name: Jar with Maven
        run: "mvn -B jar:jar --file pom.xml"

      - name: Rename file
        run: "mv target/Projet-GL-1.0-SNAPSHOT.jar target/Projet-GL-${{ steps.PR.outputs.pr_title }}.jar"


      - uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: "${{ secrets.RELEASE_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: true
          title: "Build ${{ steps.PR.outputs.pr_title }}"
          files: |
            ./target/*.jar